body {
    margin: auto;
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

h1, h2 {
    color: RGB(0, 126, 126);
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}


#elixirs h1, #elixirs h2 {
    color: red;
}


#elixirs img {
    width: 75px;
    height: auto;
}

#elixirs a:hover {
    background-color: brown;
}

#elixirs p {
    padding: 5px;
}

#elixirs{
    text-align:center;
    float: right;
    width: calc(95% - 75%);
    margin-right: 20px;
    background-image: url('../images/cocktail.gif');
    background-repeat: repeat-x;
    border-style: solid;
    border-color: RGB(0, 126, 126);
    box-sizing: border-box;
}

#content {
    width: 75%;
    display: inline-block;
    float: left;
    border-image: url("LABO 8/Opdracht cocktail bar/begin_cocktail_bar/images/cocktail.gif");
}


#guarantee {
    color: RGB(44, 44, 44);
    background-color: #a7cece;
    margin: 30px;
    padding: 20px;
    border: 1px dotted white;
}

#imgHeader {
    width: 200px;
    height: 100px;
}

header {
    text-align: center;
}

footer {
    font-size: 50%;
    clear: both;
    text-align: center;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

#imgSter{
    width:50px;
    height:50px;
}