/* items */
div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}
.item-1 {
    background: #b03532;
    display: none;
}
.item-2 {
    background: #33a8a5;
    grid-column: 2/3;
    grid-row: 1/2;
}
.item-3 {
    background: #30997a;
    grid-column: 1/3;
    grid-row: 4/5;
}
.item-4 {
    background: #6a478f;
    grid-column: 1/2;
    grid-row: 2/3;
}
.item-5 {
    background: #da6f2b;
    grid-column: 2/3;
}
.item-6 {
    background: #3d8bb1;
    display:none;
}
.item-7 {
    background: #e03f3f;
    grid-column: 1/2;
    grid-row: 3/4;
}
.item-8 {
    background: #59a627;
    grid-column: 2/3;
    grid-row: 2/3;
}
.item-9 {
    background: #4464a1;
    grid-column: 1/2;
    grid-row: 1/2;
}

@media screen and (min-width: 760px){
    .grid-container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        display: block;
    }
    .item-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item-3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item-4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item-5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item-6 {
        grid-column: 3/4;
        grid-row: 2/3;
        display: block;
    }
    .item-7 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item-8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .item-9 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}