.grid-container{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:repeat(4,auto);
    gap:20px;
}
.block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}
.block1{
    background-color: mediumvioletred;
    grid-row: 2/3;
}
.block2{
    background-color: darkslateblue;
}
.block3{
    background-color: #4A76A8;
}
.block4{
    background-color: aquamarine;
}

