.checklist{
    background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.veryicon.com%2Ficons%2Fsystem%2Fdan_system%2Fcheckbox-1.html&psig=AOvVaw1UUo9GyDqEkqGZYVFIPSX1&ust=1762768433525000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPDQqa7m5JADFQAAAAAdAAAAABAL");
}
.checked{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-icons.com%2Ficon%2Fcheckbox%2F149960&psig=AOvVaw1UUo9GyDqEkqGZYVFIPSX1&ust=1762768433525000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPDQqa7m5JADFQAAAAAdAAAAABAV");
}