html {
    background-color: #333;
    font-family: helvetica;
}

* {
    padding: 10px;
}
main{
    background-color: grey;
    box-sizing: border-box;
}
header, footer, a{
    background-color: #ddaa00;
}
nav{
    background-color: #ccc;
    padding:5px 2px;
}
body{
    font-size:1em;
    margin:5px;
}
section{
    margin:5px;
}
nav a{
    margin: 0 5px;
    border: 1px #ccc;
}
h1{
    margin:0;
}
img{
    padding:0;
}
section a{
    border:1px #333;
}

/* --- ENKEL FLEXBOX VOOR LAYOUT --- */

header, footer, nav, main, main div {
    display: flex;
}

header, footer {
    justify-content: center;
}

nav a {
    flex: 1;
    text-align: center;
    color: #333;
    background-color: white;
}

main {
    flex-direction: column; /* Mobiel: onder elkaar */
}

main div {
    flex-direction: column;
}

main div a {
    text-align: center;
}
.bgimg{
    background-color: white;
}

@media (min-width: 700px) {
    main {
        flex-direction: row; /* Desktop: naast elkaar */
    }
    main div {
        flex: 1;
        background-color: white;
    }
}