/* Globale stijlen voor het canvas */
.mondriaan-canvas {
    max-width: 600px; /* Beperk de breedte voor een nette weergave */
    height: 700px; /* Vaste hoogte om de verhoudingen consistent te houden */
    margin-top: 20px;
    padding: 0;
}

/* De stijlen voor de Mondriaan-vlakken, exact overgenomen uit de bijlage */
#a {
    border: solid black;
    border-width: 0 7.5px 15px 0px;
    min-height: 165px;
    background: rgb(255, 255, 255); /* Wit */
}

#b {
    border: solid black;
    border-width: 15px 7.5px 7.5px 0;
    min-height: 190px;
    background: rgb(255, 255, 255); /* Wit */
}

#c {
    border: solid black;
    border-width: 0 0 7.5px 7.5px;
    min-height: 355px;
    background: rgb(220, 40, 26); /* Rood */
}

#d {
    border: solid black;
    border-width: 7.5px 7.5px 0 0;
    min-height: 150px;
    background: rgb(0, 93, 159); /* Blauw */
}

#e {
    border: solid black;
    border-width: 7.5px 7.5px 0 7.5px;
    min-height: 150px;
    background: rgb(255, 255, 255); /* Wit */
}

#f {
    border: solid black;
    border-width: 7.5px 0 12.5px 7.5px;
    min-height: 75px;
    background: rgb(255, 255, 255); /* Wit */
}

#g{
    border: solid black;
    border-width: 12.5px 0 0 7.5px;
    min-height: 75px;
    background-color: rgb(242, 224, 122); /* Geel */
}

/* **Layout Aanpassingen voor Bootstrap Grid:** */

/* De linker sectie (A en B) moet de hoogte van C (355px) matchen. */
.col-4:first-child {
    height: 355px;
}

/* Blok C moet de volledige 355px hoogte in de bovenste rij bezetten. */
#c {
    height: 355px;
}

/* De rest van de ruimte onder C moet opgevuld worden door de elementen D, E, F en G.
   Ze hebben samen (ongeveer) een hoogte van 345px (700px totale canvas hoogte - 355px hoogte van C). */
.col-8 > .row:nth-child(2) {
    height: calc(700px - 355px); /* Berekent de resterende hoogte */
}

/* D en E staan op dezelfde horizontale lijn en hun min-heights (150px) bepalen de hoogte van die rij. */
#d, #e {
    height: 150px;
}

/* F en G staan verticaal gestapeld en hun min-heights (75px + 75px = 150px) moeten ook de hoogte van 150px innemen. */
/* Flexbox zorgt ervoor dat ze hun container volledig vullen. */