/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
header img{
    height:50px;
}
header{
    border-bottom: #ebe8e8 1px solid;
    width:600px;
}
nav{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    width:600px;
}
a{
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: #ebe8e8 1px solid;
    text-transform: capitalize;
    text-decoration: none;
    color: #5b4746;
    font-size:13px;
    margin:5px;
    text-align: center;
}
main .h1bgi{
    background-image: url("images/headerimage.jpg");
    text-align: center;
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:500px;
    color: white;
    font-size:40px;
    text-shadow: 2px 2px #8D99AE;
}
.recipes{
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
    width:600px;
}
.recipe{
    margin-top:1em;
    margin-right: 1.5em;
    border-top: #ddd 1px solid;
}
.recipeItemSmallTitle{
    text-transform: capitalize;
    font-size: 1.2em;
    color:#ff4d56;
    letter-spacing: 1px;
}
.recipeItemTitle{
    color:black;
    text-decoration: none;
}
.recipeItemBody{
    color:#666;
    line-height: 2;
}
.recipeItemAuteur{
    padding-right: 10px;
    border-right: #ebe8e8 1px solid;
    font-style: italic;
}
.timestamp{
    color: #666;
    padding-left: 10px;
}
a:hover{
    color: #fff100;
    text-decoration-line: underline;
}
.lastlink{
    border-right:none;
}
@media screen and (min-width: 770px){
    header{
        width:750px;
    }
    nav{
        width:750px;
    }
    .recipes{
        width:750px;
    }
}
@media screen and (min-width: 800px){
    font-size: 5em;
}
@media screen and (min-width: 1000px){
    header{
        width:980px;
    }
    nav{
        width:980px;
    }
    .recipes{
        width:980px;
    }
}