/* Algemene Pagina-Layout */
body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
    background-color: white;
}

/* --- Hoofdgebieden Layout (met Floats) --- */

main {
    width: 650px;
    float: left;
}

aside {
    width: 250px;
    float: right;
    margin: 0;
    box-sizing: border-box;
}
#news {
}

/* Clearfix om de 'bottom' sectie onder de floats te plaatsen */
main::after, aside::after {
    content: "";
    display: table;
    clear: both;
}

/* --- 'top' gebied (header) --- */
header {
    height: 200px;
    /* Alleen de lucht-afbeelding als achtergrond */
    background-image: url('../images/bgsky3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 20px;
    overflow: hidden;
}

/* Nieuwe regel om de afbeelding van het vliegtuig naar rechts te positioneren */
header img {
    position: absolute;
    /* Plaats het vliegtuig aan de rechterkant */
    bottom: 30px;
    right: 20px;

    z-index: 10;
    max-height: 100%;
}

header h1 {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding-top: 50px;
    color: blue;
}

header h2 {
    font-size: 240%;
    font-weight: bold;
    margin: 0;
    color: blue;
}


/* --- Nieuwsgebied ('aside') --- */
aside {
    background-color: white;
    border: none;
}

aside h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 100%;
    padding: 0;
    margin:0;
    border-bottom: 2px solid #000080;
}

aside p {
    color: black;
    font-size: 80%;
    padding: 10px;
    margin: 0 0 10px 0;
}



/* Logo */
#logo-container {
    float: left;
    margin: 20px 20px 20px 0;
}

#logo-container img {
    max-width: 100px;
    height: auto;
}

/* Introductie tekst (in 'main' section) - gebruik ID "introduction" */
#introduction {
    background-color: white;
    color: black;
    text-align: justify;
    padding: 10px;
    overflow: hidden;
}

/* De tekst van de introductie paragraf */
#inleiding {
    margin: 0;
    padding: 0;
}

/* Blauwe tekst in de introductie - gebruik class "highlight" */
.highlight {
    font-style: italic;
    color: blue;
    font-weight: bold;
}


/* --- Galerijgebied ('gallery') (in 'main') --- */
#gallery {
    background-color: grey;
    padding: 20px 0 0 20px;
    clear: left;
    overflow: hidden;
    width: 650px;
    box-sizing: border-box;
}

.foto {
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border: 1px dotted #999999;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- Onderkant ('bottom') (nav) --- */
#bottom-nav {
    background-color: #666666;
    clear: both;
    padding: 20px 0;
    overflow: hidden;
    text-align: center;
}

.nav-block {
    float: left;
    margin-left: 120px;
    text-align: left;
}

.nav-block:first-child {
    margin-left: 200px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    color: white;
    line-height: 1.5em;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: red;
}

/* --- Copyrightgebied ('copyright') (footer) --- */
footer {
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 80%;
    clear: both;
}
#news p {
    background-color: lightgray;
    margin: 0;
}