header{
    background-image: url('../Images/bgsky3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
header h1, header h2 {
    color: #00008b;
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    font-style: italic;
}