a{
    background-image: image("https://www.google.com/url?sa=i&url=https%3A%2F%2Femojiterra.com%2Flink%2F&psig=AOvVaw1vlH8mzTyCJOD_fnviZ4gH&ust=1762767900367000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMCuvaXk5JADFQAAAAAdAAAAABAK");
}