body{
    font-family:verdana;
    font-size:1.1em;
    background-color: silver;
    color:darkblue;
}
h1{
    font-variant:small-caps;
    background-color: red;
}
a:hover{
    border-width: 3px;
}
.stippeltjesrand{
    border-style: dotted;
    border-width: 3px;
}